div.ir-page {
    padding: 180px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2.title {
        font-family: "GeosansLight";
        font-size: 27px;
        text-align: center;
        margin-bottom: 50px;
        color: #757575;
    }
    article.main-text {
        font-size: 19px;
        white-space: pre-wrap;
        max-width: 800px;
        margin-bottom: 40px;
    }
}