__pycache__/
*.py[codz]
*$py.class
*.so

.env
venv
data/candidates/*.jsonl
data/pages/*
data/reviews/*
data/state/*.jsonl
data/state/*.txt
!data/state/overrides.jsonl
data/state/markers/*.txt
data/urls/*.jsonl
data/urls/*.txt
data/urls/sitemap/*.txt
data/urls/sitemap/*.jsonl
data/x_archive/*
data/log_daily.txt
data/log_monthly.txt