{% extends "general/base.html" %}

{% block head %}
{% endblock %}


{% block content %}

<div class="blog-news-article main-container">
 
  {% include 'common/header.html' %}
  <div class="main-content">
    <article class="article" data-news-id="2021-3-7">
      <div class="container">
        <span class="back"><a href="/{{ lang }}/blognews?page={{ page }}"><<</a></span>
        <p class="date news-date">2021 Mar 7</p>
        <h2 class="title">国内インフルエンサーを起用した長崎市のYoutubeプロモーションVLOG動画(4K・日英)を公開しました。</h2>
        <div class="news-image-container">
          </figure>
        </div>
        <div class="main-text">
          4回の現地調査で収集した「現地の人だから知る魅力と遊び方」の凝縮された、</br>
          長崎市のプロモーション4K VLOG動画 (日英)を制作。Youtubeへの公開から3日で1万再生を突破しました。</br>
          CITYWALKの体験と連動した新しいプロモーションの姿を提案します。
          </br>
          </br>
          <strong>全編Ultra HD 4KのVLOG(ビデオブログ)形式で撮影された</strong>高品質な映像に、</br>
          <strong>「長崎に行ってみたくなりました~ 全都道府県ver.が見たい」「表情や動画、撮り方が素敵すぎて旅番組を観てるかと思いました」</strong></br>
          などのコメントが集まっています。</br>
          </br>
          本動画はCITYWALKで配信される案内の内容と連動しており、</br>
          <strong>動画を見て「わたしも体験してみたい」と思ったユーザーが、実際に現地でCITYWALKの案内で追体験できる仕掛け</strong>になっています。</br>
          こうした取り組みは世界初の事例です。</br>
          </br>
          配信から数日後に、とみいさん(動画のインフルエンサー)と「同じ場所で写真を撮影したい」「同じドレスを来てみたい」といった問い合わせが現地担当者の方にありました。</br>
          現場の方々も今回の施策の効果に実感できたと思われます。</br>
          </br>
          <b>「NAGASAKI Where foreign and Japanese cultures merge / 長崎 - 海外と日本の文化の合流する場所 【4K Vlog/English subtitle】」とみいちゃんねる </b></br>
          </br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/duYrr1PczcI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </br>
          弊社では今後も、地域の深い魅力を全世界に伝える取り組みをして参ります。
          </br>
          動画プロモーションについてはinquiry@thinkxinc.comまでお問い合わせください。
        </br>
        </div>
        <div class="back-container cf">
          <span class="back">
            <a href="/{{ lang }}/blognews?page={{ page }}">一覧に戻る</a>
          </span>
        </div>
      </div>
    </article>
  </div>
  {% include 'common/footer.html' %}
</div>

{% endblock %}

{% block foot %}
{% endblock %}