{% extends "general/base.html" %}

{% block head %}
{% endblock %}


{% block content %}

<div class="blog-news-article main-container">
 
  {% include 'common/header.html' %}
  <div class="main-content">
    <article class="article" data-news-id="2021-3-10">
      <div class="container">
        <span class="back"><a href="/{{ lang }}/blognews?page={{ page }}"><<</a></span>
        <p class="date news-date">2021 Mar 10</p>
        <h2 class="title">中国KOL摇君柠を起用した長崎市のVLOG動画第二弾を最大手SNSプラットフォーム「Weibo (微博)」で配信しました。</h2>
        <div class="news-image-container">
          </figure>
        </div>
        <div class="main-text">
          弊社メンバーで日本在住中国KOLの一人王健茹(摇君柠 51万フォロワー)による長崎市のインバウンドVLOG動画を中国最大手SNSプラットフォーム「Weibo (微博)」で配信しました。</br>
          </br>
          <strong>配信から5日で130万再生(233万PV)を記録</strong>、</br>
          574万フォロワーをもつ「林萍在日本」にも拡散されました。</br>
          </br>
          <strong>「日本で中国を探す」をテーマに、中国旅行者に親近感が持ちやすい、</br>
          中国人にとっては特別な町 長崎という位置づけを狙い、</br>
          ストーリを編成した効果的な発信を行いました。</strong></br>
          単なる美しい、面白いではなく、その町の特性に合わせたテーマ設定が確実な誘客の肝になります。</br>
          </br>
          ある地域の公式的なプロモーション動画を全編高解像Ultra HD 4KのVlogフォーマットで行った事例は希少で、</br>
          本プロモーションでは、高度な編集技術および最新の動画機材をフルに活かして、先駆的なVLOG動画を完成しました。</br>
          </br>
          </br>
          Weibo上では<strong>「 長崎は中国とこんな深いつながりがあるのが初めて知りました、とても興味深いです、実際に行ってみたいと思いました。」</strong></br>
          <strong>「着物姿はとてもきれい、景色も美しくて、コロナが落ち着いたら必ず行きます」</strong>などのコメントが集まっています。</br>
          </br>
          </br>
          総再生数    ： 130万回(266万PV) （※2021年3月16日時点）</br>
          Weibo リンク：<a href="https://weibo.com/5184885445/K5J0di1Md">长崎VLOG - 时空胶囊的旅行 </a></br>
          </br>
          ４K高画質で視聴の際は下記のリンクでご覧ください。</br>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/y1ZFs1iZTfU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></br>
        </br>
        </div>
        <div class="back-container cf">
          <span class="back">
            <a href="/{{ lang }}/blognews?page={{ page }}">一覧に戻る</a>
          </span>
        </div>
      </div>
    </article>
  </div>
  {% include 'common/footer.html' %}
</div>

{% endblock %}

{% block foot %}
{% endblock %}