.DS_Store
*.sw[a-z]
*.pyc
Session.vim
!.gitkeep
.idea
venv*
.envrc
.env
*.pickle
*.rdb
.python-version
.ipynb_checkpoints
*.log
nohup.out

node_modules

design/demo/*

www/local/stdout
www/local/nginx.pid
www/local/nginx/cache/*
www/local/mongodb/db/*
www/local/mongodb/dump/*
www/playbooks/*.retry

www/server/application/views/css/*
www/server/application/views/js/*
www/server/application/views/video/*
www/server/application/views/node_modules/
www/server/application/views/package-lock.json
