<div id="truetech-footer" class="footer">
    <div class="footer-content">
        <ul class="footer-menu-list">
            {# About #}
            <li class="menu-content">
                <a href="/{{ lang }}/about">{{ locale_dict['menu_content_about'][lang] }}</a>
            </li>
            {# privacy #}
            <li class="menu-content">
                <a href="/{{ lang }}/privacy">{{ locale_dict['menu_content_privacy'][lang] }}</a>
            </li>
            {# download pdf #}
            <li class="menu-content">
                <a href="/documents/truetechjapan/BestTech100.pdf">{{ locale_dict['menu_content_pdf'][lang] }}</a>
            </li>
            {# inquiry #}
            <li class="menu-content">
                <a href="/{{ lang }}/inquiry">{{ locale_dict['menu_content_inquiry'][lang] }}</a>
            </li>
            {# organization #}
            <li class="menu-content">
                <a href="/{{ lang }}/organization">{{ locale_dict['menu_content_organization'][lang] }}</a>
            </li>
        </ul>
        <div class="footer-rights">
            {{ locale_dict['copyright'][lang] }}
        </div>
    </div>
  </div>