{% extends "general/base.html" %}

{% block head %}
{% endblock %}


{% block content %}

<div id="blognews" class="main-container">
  {% include 'common/header.html' %}

  <div class="blog-list main-content">
 

    <ul class="newslist">

      <!-- 2025-06-23 -->
      <li class="news" data-news-id="2025-06-23-pr">
        <div class="container">
          <h2 class="title news-title">米Liqid社と戦略的パートナーシップに合意</h2>
          <p class="date news-date">2025 June 23</p>
          <p class="content news-content" style="padding:0">
          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2025-06-23-pr?page={{ page }}">続きを読む...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2025-06-23-pr"></figure>
          </div>
        </div>
      </li>

      <!-- 2025-06-04 -->
      <li class="news" data-news-id="2025-06-04-hr">
        <div class="container">
          <h2 class="title news-title">石北央 東京大学先端科学技術センター理論化学分野/東京大学大学院工学系研究科応用化学専攻教授がアドバイザーに就任</h2>
          <p class="date news-date">2025 June 04</p>
          <p class="content news-content" style="padding:0">
          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2025-06-04-hr?page={{ page }}">続きを読む...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2025-06-04-hr"></figure>
          </div>
        </div>
      </li>

      <!-- 2025-05-16 -->
      <li class="news" data-news-id="2025-05-16-release">
        <div class="container">
          <h2 class="title news-title">1対多の同時接続が可能なリアルタイムエージェント構築システム『LiveAgentSDK』を提供開始</h2>
          <p class="date news-date">2025 May 16</p>
          <p class="content news-content" style="padding:0">
          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2025-05-16-release?page={{ page }}">続きを読む...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2025-05-16-release"></figure>
          </div>
        </div>
      </li>

      <!-- 2025-03-05 -->
      <li class="news" data-news-id="2025-03-05-hr">
        <div class="container">
          <h2 class="title news-title">清水謙多郎 東京大学名誉教授がアドバイザーに就任</h2>
          <p class="date news-date">2025 March 5</p>
          <p class="content news-content" style="padding:0">
          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2025-03-05-hr?page={{ page }}">続きを読む...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2025-03-05-hr"></figure>
          </div>
        </div>
      </li>

      <!-- 2025-02-28 -->
      <li class="news" data-news-id="2025-02-28-hr">
        <div class="container">
          <h2 class="title news-title">植物学者 舘野正樹 前東京大学理学系研究科附属日光植物園園長がアドバイザーに就任</h2>
          <p class="date news-date">2025 February 28</p>
          <p class="content news-content" style="padding:0">
            {#植物学者 舘野正樹 前東京大学理学系研究科附属日光植物園園長がアドバイザーに就任#}
          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2025-02-28-hr?page={{ page }}">続きを読む...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2025-02-28-hr"></figure>
          </div>
        </div>
      </li>

      <!-- 2025-02-19 -->
      <li class="news" data-news-id="2025-02-19-hr">
        <div class="container">
          <h2 class="title news-title">張山昌論 東北大学情報科学研究科知能集積学分野教授がアドバイザーに就任</h2>
          <p class="date news-date">2025 February 19</p>
          <p class="content news-content" style="padding:0">
            {#張山昌論 東北大学情報科学研究科知能集積学分野教授がアドバイザーに就任#}
          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2025-02-19-hr?page={{ page }}">続きを読む...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2025-02-19-hr"></figure>
          </div>
        </div>
      </li>

      <!-- 2025-02-08 -->
      <li class="news" data-news-id="2025-02-13-pr">
        <div class="container">
          <h2 class="title news-title">ドバイ政府公認 Japan Kyoto Trade ExhibitionにThinkXが国内AI企業として招待</h2>
          <p class="date news-date">2025 February 13</p>
          <p class="content news-content" style="padding:0">
            {#ドバイ政府公認 Japan Kyoto Trade ExhibitionにThinkXが国内AI企業として招待#}
          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2025-02-13-pr?page={{ page }}">続きを読む...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2025-02-13-pr"></figure>
          </div>
        </div>
      </li>

      <!-- 2025-01-10 -->
      <li class="news" data-news-id="2025-01-10-release">
        <div class="container">
          <h2 class="title news-title">「プログラマブルリアルタイムマルチステージジョブエージェントスタジオ」の提供を開始</h2>
          <p class="date news-date">2025 January 10</p>
          <p class="content news-content" style="padding:0">
            {#「プログラマブルリアルタイムマルチステージジョブエージェントスタジオ」の提供を開始#}
          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2025-01-10-release?page={{ page }}">続きを読む...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2025-01-10-release"></figure>
          </div>
        </div>
      </li>

      <!-- 2024-11-25 -->
      <li class="news" data-news-id="2024-11-25-release">
        <div class="container">
          <h2 class="title news-title">「Quantz ® Interview」の提供を開始</h2>
          <p class="date news-date">2024 November 25</p>
          <p class="content news-content" style="padding:0">
            {#「Quantz ® Interview」の提供を開始#}
          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2024-11-25-release?page={{ page }}">続きを読む...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2024-11-25-release"></figure>
          </div>
        </div>
      </li>

      <!-- 2024-10-01 -->
      <li class="news" data-news-id="2024-10-01-hr">
        <div class="container">
          <h2 class="title news-title">瀬野裕美 東北大学情報科学研究科教授/元大学設置委員理学系主査がアドバイザーに就任</h2>
          <p class="date news-date">2024 October 1</p>
          <p class="content news-content" style="padding:0">
            {#瀬野裕美 東北大学情報科学研究科教授/元大学設置委員理学系主査がアドバイザーに就任#}
          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2024-10-01-hr?page={{ page }}">続きを読む...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2024-10-01-hr"></figure>
          </div>
        </div>
      </li>

      <!-- 2024-08-13 -->
      <li class="news" data-news-id="2024-08-13-release">
        <div class="container">
          <h2 class="title news-title">「Quantz ®」の提供を開始</h2>
          <p class="date news-date">2024 August 13</p>
          <p class="content news-content" style="padding:0">
            {#「Quantz ®」の提供を開始#}
          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2024-08-13-release?page={{ page }}">続きを読む...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2024-08-13-release"></figure>
          </div>
        </div>
      </li>


    <li class="news" data-news-id="2023-12-7">
      <div class="container">
        <h2 class="title news-title">
          テキストベースのレコメンデーション基本アルゴリズムで特許を取得
        </h2>
        <p class="date news-date">2023 December 7</p>
        <p class="content news-content" style="padding:0">  
          {#
          ユーザーの趣向などの定性的情報をテキストから理解するための文書解析基本アルゴリズムの特許を取得しました。
          <br/>
        本発明は、ユーザーの行動データの蓄積を必要とせず、テキストからそれを記述したユーザーの趣向やパーソナリティ特性を、反意語で定義される概念群と語彙埋め込み空間における独自の意味超平面アルゴリズムにより、僅かな計算時間で解析します。
        <br/>
        従来のレコメンデーションの問題点であるコールドスタート問題（データが蓄積されなければ動作しない問題）を解決するだけでなく、任意に定義するユーザー特性の集合を文書から高速に解析することで、多様なユーザーのニーズをより精緻に捉えることができます。
        #}
        </p>
        <div class="readmore-container cf">
          <span class="readmore">
            <a href="/{{ lang }}/blognews/2023-12-7?page={{ page }}">Read more...</a>
          </span>
        </div>
      <div class="news-image-container">
        <figure class="news-image news-id-2023-12-7">
        </figure>
      </div>
      </div>
    </li>



      <li class="news" data-news-id="2023-5-26">
        <div class="container">
            <h2 class="title news-title">人間に近い応答性能で対話し、完全なプライバシーを維持するLLMベース音声対話AIプラットフォーム「NeuraVoice」を公開</h2>
            <p class="date news-date">2023 May 26</p>
          <p class="content news-content" style="padding:0">
            
          {#
        ThinkXは、全てのモデルがサーバー内にあり情報が漏洩せずビジネス利用可能で、人間に近い高速な応答性能でインタラクティブに会話するリアルタイム音声AIプラットフォーム、NeuraVoiceを発表しました。<br>
        独自に微調整されたLLM、図書館の情報を全て学習したような並外れた知識。過去の会話を記憶し、独自の自然言語ベースレコメンデーションアルゴリズム（日・米特許出願中）によるパーソナライズ能力で個々人に合わせた最適な応答。
        音声データに最適化されたHyperStreamテクノロジーによりビッグテックスマートスピーカー製品より22%高速なレスポンス。
        #}
          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2023-5-26?page={{ page }}">続きを読む...</a>
            </span>
          </div>
        <div class="news-image-container">
          {#<figure class="news-image news-id-2023-5-26">
          </figure>
          #}
        </div>
        </div>
      </li>



    </ul>

    {% include 'blognews/common/pagenation.html' %}
  </div>
  {% include 'common/footer.html' %}
</div>

{% endblock %}

{% block foot %}
{% endblock %}
