{% extends "general/base.html" %}

{% block head %}
{% endblock %}

{% block content %}

<div id="blognews" class="main-container">
  {% include 'common/header.html' %}

  <div class="blog-list main-content">
    <ul class="newslist">

      <!-- 2025-06-23 -->
      <li class="news" data-news-id="2025-06-23-pr">
        <div class="container">
          <h2 class="title news-title">Strategic Partnership Agreement Reached with U.S. Company Liqid</h2>
          <p class="date news-date">2025 June 23</p>
          <p class="content news-content" style="padding:0">
          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2025-06-23-pr?page={{ page }}">続きを読む...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2025-06-23-pr"></figure>
          </div>
        </div>
      </li>

      <!-- 2025-06-04 -->
      <li class="news" data-news-id="2025-06-04-hr">
        <div class="container">
          <h2 class="title news-title">Professor Hisashi Ishikita of the University of Tokyo (RCAST – Theoretical Chemistry / Department of Applied Chemistry) Joins as Advisor</h2>
          <p class="date news-date">2025 June 04</p>
          <p class="content news-content" style="padding:0">
          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2025-06-04-hr?page={{ page }}">続きを読む...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2025-06-04-hr"></figure>
          </div>
        </div>
      </li>

      <!-- 2025-05-16 -->
      <li class="news" data-news-id="2025-05-16-release">
        <div class="container">
          <h2 class="title news-title">Launch of LiveAgentSDK, a Real-Time Agent Construction System Supporting Multiple Simultaneous Client Connections</h2>
          <p class="date news-date">2025 May 16</p>
          <p class="content news-content" style="padding:0">
          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2025-05-16-release?page={{ page }}">Read more...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2025-05-16-release"></figure>
          </div>
        </div>
      </li>

      <!-- 2025-03-05 -->
      <li class="news" data-news-id="2025-03-05-hr">
        <div class="container">
          <h2 class="title news-title">Professor Kentaro Shimizu, Emeritus Professor at the University of Tokyo, Appointed as Advisor</h2>
          <p class="date news-date">2025 March 5</p>
          <p class="content news-content" style="padding:0">
          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2025-03-05-hr?page={{ page }}">Read more...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2025-03-05-hr"></figure>
          </div>
        </div>
      </li>

      <!-- 2025-02-28 -->
      <li class="news" data-news-id="2025-02-28-hr">
        <div class="container">
          <h2 class="title news-title">Renowned Botanist Masaki Tateno, Former Director of the Nikko Botanical Garden (Graduate School of Science, The University of Tokyo), Appointed as Advisor</h2>
          <p class="date news-date">2025 February 28</p>
          <p class="content news-content" style="padding:0">
            {#Renowned botanist Masaki Tateno appointed as Advisor#}
          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2025-02-28-hr?page={{ page }}">Read more...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2025-02-28-hr"></figure>
          </div>
        </div>
      </li>

      <!-- 2025-02-19 -->
      <li class="news" data-news-id="2025-02-19-hr">
        <div class="container">
          <h2 class="title news-title">Professor Masanori Hariyama of Tohoku University’s Graduate School of Information Sciences Appointed as Advisor</h2>
          <p class="date news-date">2025 February 19</p>
          <p class="content news-content" style="padding:0">
            {#Professor Masanori Hariyama appointed as Advisor#}
          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2025-02-19-hr?page={{ page }}">Read more...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2025-02-19-hr"></figure>
          </div>
        </div>
      </li>

      <!-- 2025-02-13 -->
      <li class="news" data-news-id="2025-02-13-pr">
        <div class="container">
          <h2 class="title news-title">ThinkX Invited as a Japanese AI Firm to the Dubai Government-Endorsed Japan Kyoto Trade Exhibition in Dubai, UAE</h2>
          <p class="date news-date">2025 February 13</p>
          <p class="content news-content" style="padding:0">
            {#ThinkX invited to the Japan Kyoto Trade Exhibition in Dubai#}
          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2025-02-13-pr?page={{ page }}">Read more...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2025-02-13-pr"></figure>
          </div>
        </div>
      </li>

      <!-- 2025-01-10 -->
      <li class="news" data-news-id="2025-01-10-release">
        <div class="container">
          <h2 class="title news-title">Launch of the “Programmable Real-Time Multi-Stage Job Agent Studio”</h2>
          <p class="date news-date">2025 January 10</p>
          <p class="content news-content" style="padding:0">
            {#Programmable Real-Time Multi-Stage Job Agent Studio launched#}
          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2025-01-10-release?page={{ page }}">Read more...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2025-01-10-release"></figure>
          </div>
        </div>
      </li>

      <!-- 2024-11-25 -->
      <li class="news" data-news-id="2024-11-25-release">
        <div class="container">
          <h2 class="title news-title">Launch of “Quantz ® Interview”</h2>
          <p class="date news-date">2024 November 25</p>
          <p class="content news-content" style="padding:0">
            {#Launch of “Quantz ® Interview”#}
          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2024-11-25-release?page={{ page }}">Read more...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2024-11-25-release"></figure>
          </div>
        </div>
      </li>

      <!-- 2024-10-01 -->
      <li class="news" data-news-id="2024-10-01-hr">
        <div class="container">
          <h2 class="title news-title">Professor Hiromi Seno of Tohoku University’s Graduate School of Information Sciences (Former Head of the University Establishment Committee’s Science Division) Appointed as Advisor</h2>
          <p class="date news-date">2024 October 1</p>
          <p class="content news-content" style="padding:0">
            {#Professor Hiromi Seno appointed as Advisor#}
          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2024-10-01-hr?page={{ page }}">Read more...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2024-10-01-hr"></figure>
          </div>
        </div>
      </li>

      <!-- 2024-08-13 -->
      <li class="news" data-news-id="2024-08-13-release">
        <div class="container">
          <h2 class="title news-title">Launch of “Quantz ®”</h2>
          <p class="date news-date">2024 August 13</p>
          <p class="content news-content" style="padding:0">
            {#Launch of “Quantz ®”#}
          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2024-08-13-release?page={{ page }}">Read more...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2024-08-13-release"></figure>
          </div>
        </div>
      </li>

      <!-- 2023-12-7 -->
      <li class="news" data-news-id="2023-12-7">
        <div class="container">
          <h2 class="title news-title">Patent Acquired for a Fundamental Text-Based Recommendation Algorithm</h2>
          <p class="date news-date">2023 December 7</p>
          <p class="content news-content" style="padding:0">
            {#We have acquired a patent for a fundamental document-analysis algorithm that understands qualitative user information from text.#}
          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2023-12-7?page={{ page }}">Read more...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2023-12-7"></figure>
          </div>
        </div>
      </li>

      <!-- 2023-5-26 -->
      <li class="news" data-news-id="2023-5-26">
        <div class="container">
          <h2 class="title news-title">Unveiling “NeuraVoice,” an LLM-Based Voice AI Platform with Near-Human Response Performance and Complete Privacy</h2>
          <p class="date news-date">2023 May 26</p>
          <p class="content news-content" style="padding:0">
            {#ThinkX has announced NeuraVoice, a real-time voice AI platform capable of interactive conversations at near-human speed, all while preserving complete privacy.#}
          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2023-5-26?page={{ page }}">Read more...</a>
            </span>
          </div>
          <div class="news-image-container">
            <!-- <figure class="news-image news-id-2023-5-26"></figure> -->
          </div>
        </div>
      </li>

    </ul>

    {% include 'blognews/common/pagenation.html' %}
  </div>
  {% include 'common/footer.html' %}
</div>

{% endblock %}

{% block foot %}
{% endblock %}
