{% extends "general/base.html" %}

{% block head %}
{% endblock %}


{% block content %}

<div id="blognews" class="main-container">
  {% include 'common/header.html' %}

  <div class="blog-list main-content">
 

    <ul class="newslist">




      <li class="news" data-news-id="2020-11-10">
        <div class="container">
          <h2 class="title news-title">観光庁「誘客多角化のための魅力的な滞在コンテンツ造成」実証事業にCITYWALKが採択</h2>
          <p class="date news-date">2020 Nov 10</p>
          <p class="content news-content">
          観光庁「誘客多角化のための魅力的な滞在コンテンツ造成」実証事業に、</br>
          CITYWALKを用いた長崎市での事業が採択されました。

          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2020-11-10?page={{ page }}">続きを読む...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2020-11-10">
            </figure>
          </div>
        </div>
      </li>


      <li class="news" data-news-id="2020-08-02">
        <div class="container">
          <h2 class="title news-title">代表大塚が社内・社外向けに「コンピューターサイエンス基礎レクチャー」を行いました。</h2>
          <p class="date news-date">2020 Aug 02</p>
          <p class="content news-content">
            主にコンピューターサイエンスやそれに類する専攻でない社内スタッフに向けて、</br>
          代表大塚が計算機アーキテクチャとアルゴリズムの基礎講座を行いました

          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2020-08-02?page={{ page }}">続きを読む...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2020-04-14">
            </figure>
          </div>
        </div>
      </li>

      <li class="news" data-news-id="2020-04-14">
        <div class="container">
          <h2 class="title news-title">「プライバシー保護AI(秘匿計算)とコロナウイルスCOVID-19-早期収束に向けて」のテーマで代表大塚がオンライン公開講座を行いました</h2>
          <p class="date news-date">2020 Apr 14</p>
          <p class="content news-content">
            CipherNetテクノロジー(プライバシー保護AI・秘匿計算)の解説と現社会状況への応用に関してディスカッションするオンライン公開講座を行いました。</br>
            当日はシンクタンク、ベンチャーキャピタル、企業経営者、地方自治体の方々をはじめ13名の方にご参加いただきました。

          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2020-04-14?page={{ page }}">続きを読む...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2020-04-14">
            </figure>
          </div>
        </div>
      </li>

      <li class="news" data-news-id="2020-03-04">
        <div class="container">
          <h2 class="title news-title">Our Paper「Privacy-Preserving Fast and Exact Linear Equations Solver with Fully Homomorphic Encryption」Published on 29 Feb.</h2>
          <p class="date news-date">2020 Mar 4</p>
          <p class="content news-content">



          「Privacy-Preserving Fast and Exact Linear Equations Solver with Fully Homomorphic Encryption」<br/>

(Keita Arimitsu and Kazuki Otsuka : Cryptology ePrint Archive 2020/02/29)</br>
https://eprint.iacr.org/2020/272.pdf<br/>

            Privacy and machine learning often appear to be incompatible due to their nature: privacy means data should be kept from others while machine learning requires a large amount of data. Among several possible solutions to this problem, Fully Homomorphic Encryption (FHE) has been a center of intensive researches in this field. FHE enables linear operations on ciphertext. To take advantage of this property, many protocols to achieve statistical operations have been proposed. However, many of them are impractical. Some of the approaches introduce cryptosystems that are...


          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2020-03-04?page={{ page }}">続きを読む...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2020-03-04">
            </figure>
          </div>
        </div>
      </li>


      <li class="news" data-news-id="2019-12-30">
        <div class="container">
          <h2 class="title news-title">組織体制移行のお知らせ</h2>
          <p class="date news-date">2019 Dec 30</p>
          <p class="content news-content">
            先端情報技術の研究開発組織として2015年1月に設立した6th Sense, Ltdはこれまでに培った音声自然言語処理技術をはじめとするAI関連技術群、レコメンデーション、大規模分散処理システム、110万事象の構造化済みWikiデータ、等を集約した新たなソフトウェアサービスを中心とした組織に移行するため、2019年12月をもちまして、ThinkX,Incに組織変更をいたしました。...
          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2019-12-30?page={{ page }}">続きを読む...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2019-12-30">
            </figure>
          </div>
        </div>
      </li>
    </ul>

    {% include 'blognews/common/pagenation.html' %}

  </div>
  {% include 'common/footer.html' %}
</div>

{% endblock %}

{% block foot %}
{% endblock %}
