{% extends "general/base.html" %}

{% block head %}
{% endblock %}


{% block content %}

<div id="blognews" class="main-container">
  {% include 'common/header.html' %}

  <div class="blog-list main-content">
    <ul class="newslist">
      <li class="news" data-news-id="2023-3-20">
        <div class="container">
          <h2 class="title news-title">A patent was granted for a voice synthesis based guide system.</h2>
          <p class="date news-date">2023 March 20</p>
          <p class="content news-content">  
            We have been granted a patent for a neural text-to-speech guide system.
            <br>
            This invention is widely applied to the construction of a user's location based voice guidance system in geospatial locations using deep learning Text-to-Speech technology. This invention further extends the prior patent by NTT to the deep learning era.
          </p>

          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2023-3-20?page={{ page }}">Read more...</a>
            </span>
          </div>
        <div class="news-image-container">
          <figure class="news-image news-id-2023-3-20">
          </figure>
        </div>
        </div>
      </li>


      <li class="news" data-news-id="2021-10-30">
        <div class="container">
          <h2 class="title news-title">Pre-Series A Third-Party Allocation of New Shares</h2>
          <p class="date news-date">2021 Oct 30</p>
          <p class="content news-content">  
          </p>
  
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2021-10-30?page={{ page }}">Read more...</a>
            </span>
          </div>
        <div class="news-image-container">
          <figure class="news-image news-id-2023-3-20">
          </figure>
        </div>
        </div>
      </li>


      <li class="news" data-news-id="2021-8-13">
        <div class="container">
          <h2 class="title news-title">Introducing NeuraVoice2 Beta: Ultra-Fast, High-Quality Text-to-Speech Neural System</h2>
          <p class="date news-date">2021 Aug 13</p>
          <p class="content news-content">
            NeuraVoice2 Beta, the result of our ongoing research since 2017, is an advanced neural speech synthesis system. 
            <br>
            It provides swift and high-quality text-to-speech conversion, achieving a Real Time Factor benchmark of 0.0227 for GPU inference.
            <br>
            This innovative system can read numbers up to 1,000 trillion digits and offers a range of customizable settings.

          <!-- short ver -->
            <!-- NeuraVoice2 Beta, our neural speech synthesis system, offers high-speed, high-quality text-to-speech conversion at Real Time Factor speeds below 0.1. -->
          <!-- short ver end -->
          </p>

          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2021-8-13?page={{ page }}">Read more...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2021-8-13">
            </figure>
          </div>
        </div>
      </li>

      <li class="news" data-news-id="2021-5-30">
        <div class="container">
          <h2 class="title news-title">Temporary Suspension of CITYWALK (Early Beta) for Major Version Upgrade</h2>
          <p class="date news-date">2021 May 30</p>
          <p class="content news-content">
            We have temporarily suspended the release of CITYWALK (Early Beta) in preparation for an upcoming major version relaunch.
            <br>
            The new version promises heightened interaction and usability, fueled by an advanced integration of our spoken language technology.
            <br>
            We are grateful for your continued support during this transition.

          <!-- short ver -->
            <!-- The launch of CITYWALK (Early Beta) has been temporarily put on hold to pave the way for a significant version upgrade. -->
          <!-- short ver end -->
          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2021-5-30?page={{ page }}">Read more...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2021-5-30">
            </figure>
          </div>
        </div>
      </li>



      <li class="news" data-news-id="2021-2-24">
        <div class="container">
          <h2 class="title news-title">Participation in the 'Municipal & Public Week 2021: Local Government Creation EXPO No.4' at Makuhari Messe</h2>
          <p class="date news-date">2021 Feb 24</p>
          <p class="content news-content">
            Our participation in the 'Local Government and Public Week 2021: Local Government Creation EXPO No.4' at Makuhari Messe allowed us to display our comprehensive city promotion system.
            <br>
            With nearly 30,000 visitors and 252 organizations in attendance, the expo ranks among Japan's largest local development events.
            <br>
            Our presentations, including the implementation of CITYWALK in Nagasaki City, attracted significant interest from various municipalities and private companies.

          <!-- short ver -->
            <!-- We recently showcased our products at 'Local Government and Public Week 2021: Local Government Creation EXPO No.4,' an event held at Makuhari Messe. -->
          <!-- short ver end -->
          </p>

          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2021-2-24?page={{ page }}">Read more...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2021-2-24">
            </figure>
          </div>
        </div>
      </li>



      <li class="news" data-news-id="2021-2-20">
        <div class="container">
          <h2 class="title news-title">CITYWALK and Its Founder, Representative Otsuka, Featured on KTN Evening News</h2>
          <p class="date news-date">2021 Feb 20</p>
          <p class="content news-content">
            CITYWALK, a pioneering voice guidance system in Nagasaki City, was spotlighted on KTN Evening News, providing an opportunity for wider recognition.
            <br>
            The broadcast included user feedback and highlighted a briefing session held at Dejima for local organizations, as well as insights from our President, Representative Otsuka.
          
          <!-- short ver -->
            <!-- CITYWALK, our voice guidance system implemented in Nagasaki City, recently received coverage on KTN Evening News. -->
          <!-- short ver end -->
          </p>

          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2021-2-20?page={{ page }}">Read more...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2021-2-20">
            </figure>
          </div>
        </div>
      </li>


      <li class="news" data-news-id="2021-2-14">
        <div class="container">
          <h2 class="title news-title">Groundbreaking Voice Guidance System, CITYWALK, Commences Pilot Program in Nagasaki City</h2>
          <p class="date news-date">2021 Feb 14</p>
          <p class="content news-content">
            We have initiated a trial run of CITYWALK, our innovative voice guidance system, at popular tourist attractions in Nagasaki City.
            <br>
            Visitors to sites such as Glover Garden, Dejima, and i+Land Nagasaki, which attract 400,000 visitors each year, can now take advantage of this intuitive system, further enhancing their experience.

          <!-- short ver -->
            <!-- Our voice guidance system, CITYWALK, has begun trial operation at key tourist destinations in Nagasaki City. -->
          <!-- short ver end -->
          </p>
          <div class="readmore-container cf">
            <span class="readmore">
              <a href="/{{ lang }}/blognews/2021-2-14?page={{ page }}">Read more...</a>
            </span>
          </div>
          <div class="news-image-container">
            <figure class="news-image news-id-2021-2-14">
            </figure>
          </div>
        </div>
      </li>

    </ul>

    {% include 'blognews/common/pagenation.html' %}
  </div>
  {% include 'common/footer.html' %}
</div>

{% endblock %}

{% block foot %}
{% endblock %}