<!DOCTYPE html>
<body style="background-color: #FAFAFA; font-family: Helvetica; color: #333;">
  <div class="head" style="width:100%; border-bottom:1px solid #DDD;">
    <a href="http://citywalk.app"><img class="logo" src="http://ilrsa.com/img/mail/logo.png" alt="CITYWALK" style="width:175px; height:50px;"/></a>
  </div>
  <div class="main" style="padding: 0 20px;">
    {% block header %}
    {% endblock %}

    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
    <div class="footer" style="margin-top: 40px;">
      <!--
      <div class="social_links" style="width: 100%; padding-bottom: 10px; border-bottom: 1px solid #DDD; margin-bottom: 10px;">
        <div class="icons" style="margin: 0 auto; width: 120px;">
            <a href="http://facebook.com/pages/Ilrsa/1600805610182218"><img src="http://ilrsa.com/img/mail/fb_icon.png" style="width: 40px; height: 40px; margin-right: 10px;"/></a>
            <a href="http://twitter.com/ilrsacom"><img src="http://ilrsa.com/img/mail/tw_icon.png" style="width: 40px; height: 40px; margin-left: 10px;"/></a>
        </div>
      </div>
    -->
      <div class="credit" style="font-size: 0.7em; color: #AAA;">
        ThinkX,Inc, <a href="http://www.thinkxinc.com" style="color:#03C3BC; text-decoration: none;">http://www.thinkxinc.com</a> 
      </div>
    </div>
  </div>

</body>