{%extends "mails/mail_base.html" %}
{% block content %}
<article class="message" style="color: #333; margin-bottom: 20px;">
  Somebody recently asked to reset your Ilrsa password.</br>
  <a href="http://ilrsa.com/reset_password?email={{ user.email }}&reset_code={{ reset_code }}" style="color:#03c3bc; text-decoration: none;">Click to change your password</a>
  </br>
  </br>
  Didn't request this change?</br>
  If you didn't request a new password, 
  <a href="http://ilrsa.com/inquiry?email={{ user.email }}" style="color:#03c3bc; text-decoration: none;">let us know immediately</a>.
</article>
{% endblock %}
