<!DOCTYPE html>
<html class=no-js lang=en>
  <head>
	<meta charset=utf-8>
	<meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
	<title>CITYWALK for Business</title>
	<meta name=Copyright content="ThinkX,Inc" />
	<meta name=viewport content="width=device-width, initial-scale=1">
    <meta name=format-detection content="telephone=no">
	<link rel="shortcut icon" href=/favicon.ico />

	<meta name=twitter:card content=summary>
	<meta name=twitter:site content=@CITYWALK>
	<meta name=twitter:title content="CITYWALK for Business">
	<meta name=twitter:description content="">
	<meta name=twitter:url content=https://citywalk.app/en/business>

    <meta property=og:type content=website>
    <meta property=og:title content=>
    <meta property=og:description content=>
    <meta property=og:url content=>
    <meta property=og:image content=>

    {% block head %}
    {% endblock %}

    <!-- Google Tag Manager -->
    <!-- End Google Tag Manager -->
    </head>

    <body>
    <!-- Google Tag Manager (noscript) -->
    <!-- End Google Tag Manager (noscript) -->

    {% block content %}
    {% endblock %}

    </body>

    {% block foot %}
    {% endblock %}
</html>
