<pre>
Kazuki Otsuka (1985-)

大塚一輝は東京を拠点とする連続起業家、独立計算進化学（トランスフォーミズム）者、現代芸術家。
16歳で良い旋律とそうでない旋律を区別するメカニズムに関心をもち、フランス派遣留学中での音楽構造の研究、大学研究員等を経て、18世紀バウムガルデン以降認識下知覚の研究分野として定義された美学の原型を形式論理学（数学）を通じて拡張する探究を行う。
この提唱する学と芸術思想を「Transformism（計算進化学）」と呼んでいる。

多数のソフトウェアプロジェクトを主導し、インフラ、バックエンド、インターフェースデザイン、AI数理モデルを含む全ての工程を行う。

'量子論理の非分配性に基づく直交モジュラー束上の計算言語β'で修士号取得（東京大学大学院学際情報学府）。


主な仕事に、

[講演]

<a href="https://kazukiotsuka.org/2025/04/09/computing-and-zen/">「禅とコンピューティング」</a> @ Dubai World Trade Center, UAE 
全文文字起こしと和訳

[理論]

黄金比の計算進化定理  
<a href="https://arxiv.org/abs/2203.12385">https://arxiv.org/abs/2203.12385</a> 2022

量子論理の反排中律的構造に基づいたチューリング完全な量子演繹計算機と言語の数学的モデル  
<a href="https://arxiv.org/abs/2203.12385">"Computational Language β based on Orthomodular Lattices with the Non-distributivity of Quantum Logic."</a> arXiv preprint arXiv:2203.12385 (2022)

[ソフトウェアアルゴリズム・特許]

高次元単語ベクトル空間内の「意味中立部分空間」への次元圧縮により、非ブール命題「Xはσ程度にA的」を計算するアルゴリズム  
<a href="https://thinkxinc.com/documents/AAAI2022.pdf">"Computing Semantic Spectral Qualities using Neutral Semantic Subspace"</a>, 2022  
特許73937722  
<a href="https://www.j-platpat.inpit.go.jp/c1801/PU/JP-7393772/15/ja">「文書解析アルゴリズム、レコメンドシステム、文書解析方法及び文書解析プログラム」</a> 2023.12.07

[現代美術作品]

J.S.バッハの単旋律曲「BWV1013」の再帰的シーケンス構造の分析  
<a href="https://transformism.art/#computational-complexity">「Computational Complexity（計算複雑性）」</a>（2024、シルクスクリーン・ケントボード）

禅と数学的美意識  
<a href="https://kazukiotsuka.org/2025/04/09/computing-and-zen/">「001101」</a>（2025、キャンバスにアクリル）

<a href="https://kazukiotsuka.org">Blog</a> |
<a href="https://thinkxinc.com">ThinkX Inc.</a> | 
<a href="https://x.com/K00TSUKA">X @K00TSUKA</a> |  
<a href="https://www.threads.com/@transformismart">Threads - 意識とは何か、を軸に芸術、哲学、科学理論の新たな通史的構造について執筆</a> |
<a href="https://www.instagram.com/transformismart">Instagram</a> |
過去のインタビュー <a href="https://type.jp/et/feature/921/">type</a>, <a href="https://buildplus.io/jp/blog/ja/leeways-2">Build Plus</a>, <a href="https://www.wantedly.com/companies/leeways/post_articles/121573 ">「今、コードを書くということ - 超民主主義の時代をハックする」</a>

<div class="media">
    <div class="media-wrapper">
        <img class="media-image" src="/img/bio_media/dubai.png"
            alt="ドバイ・ワールド・トレード・センターで禅とコンピューティングについて講演する大塚一輝" />
        <a class="media-link" href="https://kazukiotsuka.org/2025/04/09/computing-and-zen/" target="_blank">
            <span class="media-caption">講演 @ Dubai World Trade Center, UAE 2025 "禅とコンピューティング"</span>
        </a>
    </div>
    <div class="media-wrapper">
        <img class="media-image" src="/img/bio_media/kyoto23.jpg"
            alt="京都大学で音楽的コスモロジーの調和数理とAI打譜における琴音の合成について講演する大塚一輝" />
        <a class="media-link" href="https://youtube.com/shorts/8yKZXOaX3VU" target="_blank">
            <span class="media-caption">講演 @京都大学 2023 "音楽的コスモロジーの調和数理とAI打譜における琴音の合成について"
        </a>
    </div>
    <div class="media-wrapper">
        <a class="media-link" href="https://www.ktn.co.jp/8gram/2021/03/-citywalk.html" target="_blank">
        <img class="media-image" src="/img/bio_media/ktn_news.png"
             alt="KTNニュースに出演する大塚一輝とThinkX CITYWALK"/>
        </a>
        <span class="media-caption"></span>
    </div>
</div>
</pre>
