<script src=/js/business/view_components/textfield.js></script>
<script src=/js/business/view_components/dropdown_button.js></script>

        <div class=editheader>
            <h2 class=headertitle>ガイドコンテンツの作成</h2>
            <button class=cancel>変更を元に戻す</button>
            <button class=save>保存</button>
        </div>

        <div class=editContentViewScrollContainer>

            <div class=inputarea>
                <div id=labelField class="textField labelField"></div>
                <div id=titleField class="textField titleField"></div>
                <div id=textField class="textField textField"></div>
                <!--<div id=nameField class=textField>
                    <div class="name inputouter">
                        <h6 class=title>名称(必須)</h6>
                        <input class=nameform name=name type="text" />
                        <div class="footer cf">
                            <span class=indicator></span>
                            <span class=message></span>
                            <span class=counter>0/140</span>
                        </div>
                    </div>
                </div>
                <div class="title inputouter">
                    <h6 class=title>タイトル(必須)</h6>
                    <textarea class=titleform class=titleform rows=4 cols=60>
                    </textarea>
                    <div class="footer cf">
                        <span class=indicator></span>
                        <span class=message></span>
                        <span class=counter>0/140</span>
                    </div>
                </div>
                <div class="text inputouter">
                    <h6 class=title>本文(必須)</h6>
                    <textarea class=textform class=textform rows=4 cols=60>
                    </textarea>
                    <div class="footer cf">
                        <span class=indicator></span>
                        <span class=message></span>
                        <span class=counter>0/140</span>
                    </div>
                </div>
                -->
            </div>

            <div class=settingsarea>
                <div class="settings basicsettings">
                    <!--
                    <header class=settingstitle>
                        <h5 class=title>設定</h5>
                        <p class=description>有効なエリアや対象ユーザー等を設定できます。</p>
                    </header>
                    -->
                    <div class="setting targets">
                        <h5 class=title>対象ユーザー</h5>
                        <p class=description>配信するユーザー属性を設定します。</p>
                        <div id=targetUserSelectButton class=dropdownButton></div>
                    </div>
                </div>
                <a class=displayall href=#>すべてを表示</a>
                <div class="settings advancedsettings">
                    <div class="setting radius">
                        <h5 class=title>半径範囲</h5>
                        <p class=description>配信エリアの大きさを設定します。</p>
                        <div id=radiusSelectButton class=dropdownButton></div>
                    </div>
                    <div class="setting b">
                        <h5 class=title>半径範囲</h5>
                        <p class=description>配信エリアの大きさを設定します。</p>
                    </div>
                    <div class="setting c">
                        <h5 class=title>半径範囲</h5>
                        <p class=description>配信エリアの大きさを設定します。</p>
                    </div>
                    <div class="setting d">
                        <h5 class=title>半径範囲</h5>
                        <p class=description>配信エリアの大きさを設定します。</p>
                    </div>




                </div>
            </div>

        </div>