@charset "UTF-8";
// colorscheme.less

@black: #000;
@white: #FFF;
@blue: rgb(77, 134, 240);

// background, header, footer
@bgcolor-light: #fff;
@bgcolor-semilight: #f5f5f5;
@bgcolor-highlight: #e9e9e9;
@linecolor-on-semilight: #bababa;
@textcolor-on-semilight: #5f5f5f;
@header-bg: #1d1d1d;
@top-bg: #101010;
@header-menu-on: #FFF;
@header-menu-off: #AAA;
@header-menu-border: #326894;
@subheader-bottomline: #494949;
@footer-background: #101010;
@footer-anchor-default: #e0e0e0;
@footer-border: #3d3d3d;
@gradient-gray-A: linear-gradient(to bottom right, #eff1f4, #cdd0d6);

// scroll bar
@scrollbar-width: 5px;
@scrollbar-track: #f7f7f7;
@scrollbar-thumb: #c4c4c4;

// text
@text-black: #000;
@text-black-light: #333333;
@text-darkgray: #525252;
@text-gray: #878787;
@text-gray-light: #c7c7c7;
@text-placeholder: #adadad;

// view content
@border-gray: #EEE;
@hover-gray: rgb(248, 248, 248);
@pagebacktitle-gray: #a3a3a3;
@keycolor: #5817E5; // rgb(88,23,229)

// theme
@cyan: #9ebcc8;  // rgb(155, 188, 200)
@cyan2: #3C80A7;  // rgb(60, 128, 167)
@magenta: #A72FB2;
@yellow: #CBC231;

// alert, error
@alert-red: #8c1111;