@charset "UTF-8";
// signup_confirm.less

#signupConfirmView {
    height: 100%; // needs to make google map full screen.
}
section.signupConfirmView {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    div.viewContainer {
        margin: 30px 0 0 0;
        width: 29%;
        h2.signupConfirmViewPageTitle {
            font-size: 2.2rem;
            font-weight: 100;
            color: @text-black;
            text-align: center;
            margin: 30px 0 20px;
        }
        p.signupConfirmViewPageDescription {
            font-weight: 100;
            text-align: center;
            margin: 10px 0 30px;
        }
    }
}
 