// main_.less

@black: #000;
@white: #FFF;
@light-gray: #CCC;
@gray: #B3B3B3;
@deep-gray: #999;
@alert-red: #b14545;

@base-cyan: #0085b0;
@base-yellow: #c7bb00;
@base-magenta: #ae00ac;
@base-light-cyan: #8CB7C3;

@footer-bg: #4D4D4D;
@bg-gray: #dedede;
@bg-gray-dark: #3B3B3B;

@text-gray: #808080;
@blue: #3b57c1;
@green: #00799e;

@font-face {
    font-family: 'GeosansLight';
    src: url('/fonts/GeosansLight.ttf?-b7qzp2') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import 'reset.less';

// --------------- mixin

@import 'mixin.less';

// --------------- tools

@import 'error_pages.less';
@import 'lang_selector.less';
//@import '/macro/inquiry.less';

// ---------------- common
//@import 'header.less';
//@import 'footer.less';
@import 'top.less';

// --------------- style

@cubic-bezier1: cubic-bezier(.65,0,.34,1);
@black: #000;

html {
  background-color: @black;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
